{% extends 'main/base.html' %}
{% block content %}
<div class="container">
  <div class="form-card">
    <h2>Edit Note</h2>
    
    <form method="post">
      {% csrf_token %}
      
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="error">{{ field.errors|striptags }}</div>
          {% endif %}
        </div>
      {% endfor %}
      
      <button type="submit" class="btn">Update Note</button>
      <a href="{% url 'details' note.pk %}" class="btn btn-danger" style="margin-left: 10px;">Cancel</a>

    </form>
  </div>
</div>
{% endblock %}
