body {
    background-color: #708993;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #9c6b27 ;
    color: white;
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    height: 60px;

}
.header h1 {
    margin: 0;
}

.components {
    display: flex;
    gap: 10px;
    align-items: center;

}
.components input {
    padding: 10px 12px;
    border: 1px solid #333;
    border-radius: 6px;
     outline: none;

}

.btn {
     padding:10px 12px;
    background-color: #708993;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;

}
.btn:hover {
        background-color: #5E936C;
}


.Notes {
    border-radius: 10px;
    padding: 9px;
}

.Notes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 14px; 
}

.Notes li {
    background-color: #f9f9f9;
    border: 1px solid #708993;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.Notes li:hover {
    background-color: #9c6b27;
    color: white;
    transform: scale(1.03);
}


.Notes a {
    text-decoration: none;
    color:inherit;
    font-weight: 500;
}
